.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}

.text {
  font-weight: 900;
  font-size: x-large;
  color: lightslategray;
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}
.span {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
